h1{
    text-align: center;
}

player-info{
    margin: 20px;
    padding: 20px;
    box-shadow: 1px 1px 10px 0px #b2b2b2;
    border-radius: 10px;

    display: grid;
    grid-template: 
        "image title title" 30px
        "image description  none" 30px
        "image button  none" 50px
        /min-content;

        column-gap: 20px;
}

player-info img{
    grid-area: image;
    max-height: 100%;;

}

player-info [class = 'title']{
    grid-area: title;
    max-height: 100%;
    font-size: 20px;
}

player-info button{
    grid-area: button;
    width: 20%;
    height: 40%;
}

player-info [class = 'description']{
    grid-area: description;
    max-height: 100%;
    font-size: 10px;
}